<strong>Traffic to this site</strong>
{{ traffic_table }}
<div style="margin-top: 20px">
<strong>Top 20 upcoming external search keywords</strong>
<ul>
{% for keyword in search_keywords %}
  <li>{{ keyword|safe }}</li>
{% endfor %}
</ul>
</div>
<div style="margin-top: 20px">
<strong>Top 20 upcoming internal search keywords</strong>
<ul>
{% for keyword in internal_search_keywords %}
  <li>{{ keyword|safe }}</li>
{% endfor %}
</ul>
</div>
<div style="margin-top: 20px">
<strong>Top and upcoming content this week</strong>
{% for upcoming_table in upcoming_tables %}
{{ upcoming_table }}
{% endfor %}
</div>
<div style="margin-top: 20px">
<strong>Top site areas</strong>
{{ path_table }}
</div>
<div style="margin-top: 20px">
<strong>Top 10 referring websites this week</strong>
{{ referring_sites_table }}
</div>